<h1>GRUPBLOG</h1>
<p>
  Grupblog sitesine hoşgeldiniz ,
  <a href="http://grupblog.com/">Grupblog</a>
  Sitemiz müzik severler için yayındadır.
  
</p>
<%= link_to "Hemen Üye Ol!", '#', :class => "signup_button round" %>
