<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Hakkımızda", about_path %></li>
      <li><%= link_to "İletişim", contact_path %></li>
      <li><a href="http://grupblog.com/">Güncel</a></li>
      <li><a href="http://grupblog.com/">Nasıl kullanılır?</a></li>
    </ul>
  </nav>
</footer>
